<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/css/menu.css" type="text/css">
</head>
<body>
<!-- ce template concerne la page retourné lorsqu'il ny'a aucun résultat à afficher-->
<center>
    <div style="margin-top: 40px" class="form">
        <p>désolé monsieur mais aucun résultat à été trouvé. <br>Voulez ajouter ce match à la file d'attente?  <span th:text="${userlogin}"></span></p>

        <div class="input-box">

                <input type="submit" name="chercher" value="ajouter"></a>
        </div>
        <div class="input-box">

            <input type="submit" name="chercher" value="ne pas ajouter"></a>
            <a href="/accueil">retour à l'accueil</a>
        </div>




    </div>
</center>

</body>
</html>