<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="">

<head>
    <meta charset="UTF-8">
    <title>Personnal page</title>
    <link rel="stylesheet"  href="/css/menu.css" type="text/css">
</head>
<body>
<!-- ce template concerne la page d'acceuil de l'application-->
<h1><center><strong>
    <p style="color:white;">Bonjour à votre page personnelle monsieur  </p></strong></center> </h1>
<div class="header">
    <nav>
        <ul class="menu">
            <li><a href="/but"><strong>But de l'application</strong></a></li>
            <li><a href="/chercher"><strong>chercher une équipe</strong></a></li>
            <li><a href="/resultat"><strong>Liste de vos matchs</strong></a></li>
        </ul>
    </nav>
</div>
</body>
</html>